:root {
  --text: hotpink;
  --bg-color: #f9ec31;
  --flex-center: {
    display: flex;
    margin: auto;
  }
}

.box {
  background-color: var(--bg-color);
  color: color(hotpink whiteness(25%));
  @apply (--flex-center);
}

.warn {
  @apply (--flex-center);
}
