/*
  # BEM METHEDOLOGY 
  - http://getbem.com/naming/
*/
$colorPrimry: #04a9f4;
html {
  font-size: 62.5%;
  background-color: #fff;
  box-sizing: border-box;
  height: 100%;
}

*,
:after,
:before {
  box-sizing: inherit;
}

@font-face {
  font-family: Space Mono;
  src: url(../fonts/SpaceMono-Regular.woff2) format('woff2'),
    url(../fonts/SpaceMono-Regular.woff) format('woff'),
    url(../fonts/SpaceMono-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: Space Mono;
  src: url(../fonts/SpaceMono-Bold.woff2) format('woff2'),
    url(../fonts/SpaceMono-Bold.woff) format('woff'),
    url(../fonts/SpaceMono-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: Space Mono;
  src: url(../fonts/SpaceMono-Italic.woff2) format('woff2'),
    url(../fonts/SpaceMono-Italic.woff) format('woff'),
    url(../fonts/SpaceMono-Italic.ttf) format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: Space Mono;
  src: url(../fonts/SpaceMono-BoldItalic.woff2) format('woff2'),
    url(../fonts/SpaceMono-BoldItalic.woff) format('woff'),
    url(../fonts/SpaceMono-BoldItalic.ttf) format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: auto;
}

body {
  font-size: 14px;
  font-family: Space Mono, monospace;
  line-height: 1.3;
  background-color: #fff;
  overflow-x: hidden;
  min-height: 100%;
}

.app_offline {
  background-color: #858585;
}

img {
  max-width: 100%;
}

a,
a:visited {
  color: $colorPrimry;
  text-decoration: none;
}

:hover {
  transition: 0.3s;
}
*:focus {
  outline: none;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.c-button {
  border: 1px solid #4c4c4c;
  padding: 10px 15px;

  &__primary {
    font-size: 1.6rem;
  }
}

.wrapper {
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 50px;
  transition: 0.3s ease-in;
  box-shadow: 0 0 5px rgba(57, 70, 78, 0.2);

  @media (min-width: 768px) {
    padding: 30px;
  }
  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
  }
  &__left {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
  }
  &__logo {
    font-size: 3rem;
    font-weight: 700;
    color: #0f1622;

    @media (min-width: 768px) {
      font-size: 3.5rem;
    }
  }
  &__hamburger {
    display: block;
    width: 40px;
    height: 25px;
    position: relative;
    margin: 0 auto;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: 3;

    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: #0f1622;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;

      &:nth-child(1) {
        top: 0px;
        transform-origin: left center;
      }
      &:nth-child(2) {
        top: 12px;
        transform-origin: left center;
      }
      &:nth-child(3) {
        top: 23px;
        transform-origin: left center;
      }
    }
    &--show {
      span {
        &:nth-child(1) {
          transform: rotate(45deg);
          top: -2px;
          left: 8px;
        }
        &:nth-child(2) {
          width: 0%;
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
          top: 26px;
          left: 10px;
        }
      }
    }
  }
}

.nav {
  height: 100vh;
  width: 100vw;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  transform: translateX(-110%);

  &--show {
    transform: translateX(0);
    visibility: visible;
  }

  &__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $colorPrimry;
    transition: opacity 0.15s cubic-bezier(0, 0, 0.3, 1);
    visibility: hidden;
    opacity: 0;
    z-index: 1;

    &--show {
      visibility: visible;
      opacity: 1;
    }
  }

  &__list {
    padding: 10vw;
    margin: 0;

    li {
      font-size: 3.4rem;
      color: #0f1622;
      padding: 15px 0;
      text-align: center;

      a {
        color: #0f1622;
      }
    }
  }
}

.main {
  padding: 20px;
  min-height: 100%;

  @media (min-width: 768px) {
    padding: 20px 50px;
  }
}

.main__heading {
  color: #0f1622;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 6rem;
  }
}

.content {
  display: flex;
  max-width: 1200px;
  margin: 40px auto;
}

.card {
  display: grid;
  grid-template-columns: repeat(1, minmax(15rem, 1fr));
  grid-gap: 2rem;
  justify-content: center;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, minmax(15rem, 1fr));
  }
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, minmax(15rem, 1fr));
  }
  @media (min-width: 998px) {
    grid-template-columns: repeat(4, minmax(15rem, 1fr));
  }

  &__item {
    padding: 1rem;
    border: 1px solid #e6e6e6;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 5px rgba(57, 70, 78, 0.2);
  }
  &__title {
    color: #0f1622;
    font-size: 1.8rem;
    font-weight: 400;
    margin: 20px 0;
  }
  &__avatar {
    width: 100%;
    height: 30rem;
    object-fit: cover;
  }
}

.btn {
  border-radius: 3px;
  border: 1px solid transparent;
  padding: 10px 15px;
  background-color: transparent;
  cursor: pointer;

  &__addToCart {
    border-color: #999999;
    color: #000;

    &:hover {
      box-shadow: 0 0 5px $colorPrimry;
    }
  }
}

.spinner {
  &:not([hidden]) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &:after {
      content: '';
      width: 80px;
      height: 80px;
      border: 2px solid #f3f3f3;
      border-top: 3px solid $colorPrimry;
      border-radius: 100%;
      will-change: transform;
      animation: spin 1s infinite linear;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  margin: 0;
  padding: 20px;

  @media (min-width: 768px) {
    padding: 20px 50px;
  }
}
